@import "tailwindcss";

.swiper-pagination {
    bottom: 20px !important; /* Mueve la paginación hacia abajo */
  }
  
.swiper-custom-style {
    --swiper-navigation-size: 17px;
    --swiper-navigation-sides-offset: 0px;
  }


@theme {
  --color-primary: #0a9396; 
  --color-secondary: #ee9b00; 
  --color-background: #ffffff;
  --color-text: #000000;
}